/*
PAGE COLOR SCHEME:
Color 1: reddish - #AA3939
Color 2: orangeish - #FFD1AA
Color 3: blueish - #003333
Color 4:LightGray- #d3d3d3
*/


body{
  margin: 0 auto;
  max-width: 80%;
  font-family: 'times-new roman', "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  font-size: 1em;
  font-weight: normal;
  text-align: left;
  background-color:	#d3d3d3;
}

h1{
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  color: #135FA3;
}
h2 {
  margin-top: 1em;
  padding-top: 1em;
}

a {
  color: #rgb(0, 191, 255);
}
